@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Styling to ensure that the website fills the whole page */
html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  min-height: 100vh;
}